/* SIDEBAR */

.sidebar{
    height: 100vh;
    position: fixed;
    left: 0;
    top: 60px;
    background: white;
    border-right: 1px solid #e5e7eb;
    padding: 20px 12px;
    overflow-y: auto;
    transition: all 0.3s ease;
}

/* OPEN */

.sidebar-open{
    width: 260px;
}

/* CLOSE */

.sidebar-close{
    width: 90px;
}

/* MENU */

.menu-item{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 16px;
    border-radius: 12px;
    text-decoration: none;
    color: #374151;
    transition: 0.3s;
    white-space: nowrap;
}

.menu-item:hover{
    background: #f3f4f6;
}

/* ACTIVE */

.menu-item-active{
    background: black;
    color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}